<div class="header">
    <div class="header-brand">
        <img src="free-computer-icon-956-thumb.png" alt="" class="header-logo">
        <h1 class="header-title">Computer Shop</h1>
    </div>


    <nav>
        <ul class="header-nav">
            <!-- <li><a [routerLink]="'/products'">Products</a></li>
            <li *ngIf="isAdmin$ | async"><a [routerLink]="'/addProduct'">Add Product</a></li> -->
            <!-- <li><a [routerLink]="'/addProduct'">Add Product</a></li> -->
            <!-- <li><a [routerLink]="'/shopping-cart'">Shopping Cart</a></li>
            <li><a style="cursor: pointer" (click)="onLogout()">Logout</a></li> -->
            <li><a [routerLink]="'/products'">Products</a></li>
            <li *ngIf="isAdmin$ | async"><a [routerLink]="'/addProduct'">Add Product</a></li>
            <li><a [routerLink]="'/shopping-cart'">
                Shopping Cart
                <span *ngIf="getCartItemCount() > 0" class="cart-count">({{ getCartItemCount() }})</span>
            </a></li>
            <li *ngIf="isLoggedIn$ | async"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
            <li *ngIf="!(isLoggedIn$ | async)"><a [routerLink]="'/login'">Login</a></li>
            <li *ngIf="!(isLoggedIn$ | async)"><a [routerLink]="'/register'">Register</a></li>
        </ul>
    </nav>
</div>